@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
.h-container {
    background-color: white;
    padding: 30px 25px;
    font-family: 'Rubik', sans-serif;
}

.h-row:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-row:first-child .h-col:last-child button {
    padding: 2px 15px;
    margin: 0 10px;
    border: none;
    background-color: #ffffff;
    font-weight: bold;
    letter-spacing: 1.3px;
    cursor: pointer;
}

.h-row:last-child {
    margin-top: 30px;
}

.h-row:last-child .h-col .icons {
    display: flex;
    justify-content: space-around;
}

.h-row:last-child .h-col .icons .icon {
    color: #000000;
    font-size: 14px;
    transition: all 0.5s;
}

.h-row:last-child .h-col .icons .icon.active {
    color: #ff7f50;
    background-color: #ffffff;
    padding: 4px 10px;
    border-radius: 2px;
}

.h-row:last-child .h-col .icons .icon a {
    margin: 0 5px;
    text-decoration: none;
    color: #000000;
}

.h-row:last-child .h-col .icons .icon.active a {
    color: #ff7f50;
}

.h-row:last-child .h-col:first-child {
    margin-bottom: 60px;
}

.h-row:last-child .h-col:nth-child(2) h3 {
    text-align: center;
    font-size: 26px;
    color: #000000;
}

.h-row:last-child .h-col:nth-child(3) {
    margin-top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
}

.h-row:last-child .h-col .search {
    display: flex;
    position: absolute;
    background-color: rgba(21, 122, 138,0.7);
    top: -15px;
    width: 60vw;
}

.h-row:last-child .h-col .search .search-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 12px;
    color: white;
    cursor: pointer;
}
.search-item svg {
    font-size: larger;
    margin: 1rem;
}

.h-row:last-child .h-col .search .search-item button.btnSearch {
    margin-left: 2rem;
    padding: 20px 50px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #FF820D;
    color: #ffffff;
    font-weight: bolder;
    border: none;
    transition: all 0.5s;
}

.h-row:last-child .h-col .search .search-item button.btnSearch:hover {
    background-color: #333333;
}

.date {
    position: absolute;
    top: 55px;
}

.options {
    position: absolute;
    top: 55px;
    width: 140px;
    padding: 5px;
    box-shadow: 0 0 10px #001e28;
    background-color: rgba(255, 255, 255, 0.5);
}

.optionsItem {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

}
.optionsItem {
    color: #157A8A;
}

.optionsButton .optionsBtn {
    padding: 2px 5px;
    border: none;
    background-color: #157A8A;
    color: #ffffff;
    cursor: pointer;
}

.optionsButton span {
    margin: 0 10px;
}